
DATABASE_URL =  "Your Database URL"
PASSWORD_SECRET = "Your Database Password"
PORT = 5784
Frontend_URL = "Your Frontend URL"


IMAGEKIT_PRIVATE_KEY = "Place your Imagekit Private Key"
IMAGEKIT_PUBLIC_KEY = "Place your Imagekit Public Key"


BETTER_AUTH_SECRET = "secrect key of Better Auth"
BETTER_AUTH_URL = "Your backend URL" 

GITHUB_CLIENT_ID = 
GITHUB_CLIENT_SECRET = 
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
